<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.1.79:3306/entrepreneur_2015</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Announcement.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ProjectLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Resource.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ProductTechnologyFactor.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Tutor.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/OperationLog.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/RoleAuthority.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ProjectIndex.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Label.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ProjectTutor.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/MarketAssessFactor.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Need.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/KnowledgeLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Knowledge.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/DataDictionary.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/FriendlyLink.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/EnvironmentFactor.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/PolicyLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Entrepreneur.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Institution.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ProjectEntrepreneur.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/LawLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/NeedLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Supply.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/UserLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Project.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/NewsInfo.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Notice.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Authority.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ManagementRisk.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ManagementTeam.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Role.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Industry.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Policy.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/FinanceFactor.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Mail.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/TeamCoreCompetence.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Friend.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/SupplyLabel.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/ProjectInstitution.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Help.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/User.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/Law.hbm.xml" />
        <mapping resource="org/sicdlab/entrepreneur/beans/daos/NoticeTemplate.hbm.xml" />
    </session-factory>
</hibernate-configuration>
